<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plantpedia</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Plantpedia.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/classy-nav/dist/classy-nav.css" />

    @RenderSection("Styles", required: false)
</head>
<body>

    <header>
        <h1>PLANTPEDIA</h1>
        <nav>
            <a asp-page="/Home/Home">Trang Chủ</a>
            <a asp-page="/Home/Search">Cây Trồng</a>
            <a asp-page="">Đóng Góp</a>
            <a asp-page="">Hội Nhóm</a>
            @if (!User.Identity!.IsAuthenticated)
            {
                <a asp-page="/Auth/Login">Đăng Nhập</a>
            }
            @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                <a asp-page="/Admin/Admin">Trang Quản Lý</a>
                <form asp-page="/Auth/Logout" method="post" class="d-flex align-items-center">
                    <button class="nav-link btn btn-link text-dark">Đăng xuất</button>
                </form>
            }
            else if (User.Identity!.IsAuthenticated && (User.IsInRole("user") || User.IsInRole("expert")))
            {
                <form asp-page="/Auth/Logout" method="post" class="d-flex align-items-center">
                    <button class="nav-link btn btn-link text-dark">Đăng xuất</button>
                </form>
            }
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/classy-nav/dist/classy-nav.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
