<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plantpedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/report-page.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dropdown.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@@eonasdan/tempus-dominus@6.9.7/dist/css/tempus-dominus.min.css" />

</head>

<body>

    <div class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" asp-area="" asp-page="/Admin/Admin"
                    style="font-weight: 800; color: #28454e;">PLANTPEDIA</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto gap-4">
                        <li class="nav-item active">
                            <a class="nav-link" asp-page="/Admin/Admin">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Admin/Plant">Cây Trồng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Admin/Report">Báo Cáo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="#">Người Dùng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="#">Hệ Thống</a>
                        </li>
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <form asp-page="/Auth/Logout" method="post" class="d-inline">
                                <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
                            </form>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@eonasdan/tempus-dominus@6.9.7/dist/js/tempus-dominus.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@eonasdan/tempus-dominus@6.9.7/dist/locales/vi.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>