<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plantpedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/report-page.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dropdown.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@@eonasdan/tempus-dominus@6.9.7/dist/css/tempus-dominus.min.css" />
        
    @RenderSection("Styles", required: false)
</head>

<body>

    <header>
        <h1>PLANTPEDIA</h1>
        <nav>
            <a asp-page="/Admin/Admin">Trang Chủ</a>
            <a asp-page="/Admin/Plant">Cây Trồng</a>
            <a asp-page="/Admin/Report">Báo Cáo</a>
            <a asp-page="">Người Dùng</a>
            <a asp-page="">Hệ Thống</a>
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <form action="/auth/logout" method="post" class="d-flex align-items-center">
                    @Html.AntiForgeryToken()
                    <button class="nav-link btn btn-link text-dark" type="submit">Đăng xuất</button>
                </form>
            }
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@eonasdan/tempus-dominus@6.9.7/dist/js/tempus-dominus.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@eonasdan/tempus-dominus@6.9.7/dist/locales/vi.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>